<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Tell the system this app uses the virtual keyboard extensions -->
    <uses-feature android:name="com.oculus.feature.VIRTUAL_KEYBOARD" android:required="false" />
    <!-- Tell the system this app can handle tracked remotes and hands -->
    <uses-feature android:name="oculus.software.handtracking" android:required="false" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
    <!-- Tell the system this app uses render model extensions -->
    <uses-feature android:name="com.oculus.feature.RENDER_MODEL" android:required="true" />
    <uses-permission android:name="com.oculus.permission.RENDER_MODEL" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NativeXR"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="nativexr" />
        </activity>
    </application>

</manifest>